@charset "utf-8";
*{
	font-family: arial;
	box-sizing: border-box
}
html {
	scroll-behavior: smooth
}
.overflowhide {
	overflow: hidden !important;
}
a {
	text-decoration: none
}

header {
	background-color: rgb(20,50,50);
	width: 100%;
	z-index: 19;
}

.nav-active {
	transform: translateX(0);
	transition: transform 0.3s ease-in-out;
}
.menu{
	position: absolute;
	top: 15px;
	right : -98%;
	background-color: rgba(16,42,42,0.8);
	width: 75px;
	height: 75px;
	border: white solid 2px;
	border-radius: 50%;
	display: block;
}
.menu-active{
	right: 2%;
	transition: right 0.3s ease-in-out;
}
.nav-isactive{
	overflow: hidden;
}

h1 {
	margin: 0;
	text-align: center;
	padding: 30px;
	font-size: 45px;
	font-family: Arial
}
h2 {
	margin: 30px;
	font-size: 28px;
	font-family: monospace
}
h3 {
	margin: 0;
	padding: 10px;
	text-align: start;
	font-size: 24px;
	font-family: monospace
}
hr {
	margin: 1rem 3rem 0rem 3rem
}
li {
	margin:0.4rem;
}



.fmaj{
	text-transform: uppercase;
}

.maintitle{
	font-weight: bold;
	font-size: 40px;
	padding: 30px;
	margin: 0;
	color:white;
}

main {
	color: white;
	width: 100%;
	min-height: 100vh;
	padding: 0rem 0.8rem 0rem 0.8rem;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 5%,rgba(0,0,0,0.7) 9%,rgba(0,0,0,0.7) 20%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 80%,rgba(0,0,0,0.7) 91%,rgba(0,0,0,0.5) 95%,rgba(0,0,0,0) 100%);
	display: block;
}

.btn-article {
	margin: 0.5rem 0; 
	padding: 0.5rem 2rem;
	background-color: rgba(0,0,0,0.3);
	color: white;
	font-size: 18px;
	border: solid white 1px;
	border-radius: 5px;
	transition-duration: 0.3s;
}
.btn-article:hover {
	background-color: rgba(0,0,0,0.7);
}
.btn-show {
	display: inline-block;
	margin: 0.5rem 0; 
	padding: 0.5rem 0.5rem;
	width: 2.4rem;
	height: 2.4rem;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	color: white;
	font-size: 18px;
	border: solid white 1px;
	border-radius: 50%;
	transition-duration: 0.3s;
	font-family: monospace
}
.btn-show:hover {
	background-color: rgba(0,0,0,0.7);
}
.md-hide{
	display: none;
}
.md-show{
	display: block;
} 
.sm-hide{
	display: none;
}
.sm-show{
	display: block;
}
.game-lib{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;

}
.ltl-box{
	width: 410px;
	margin: 0 2px; 
}
.error{
	width: 100%;
	background-color: rgb(220, 200, 200);
	padding: 3px 5px 3px 12px;
	color: rgb(180,0,0);
	border: solid rgb(220,0,0) 2px;
	border-radius: 5px;
	font-size: 18px;
}

footer {
	display: flex;
	padding: 10px;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	background-color: rgb(50, 50, 50);
	min-height: 5vh;
}
footer ul{
	margin: 20px 30px;
	padding: 0;
	list-style: none;
	text-align: center;
	color: white;
}
footer ul li {
	padding: 3px 0;
}
footer ul li a {
	color: white;
}
.footer-title{
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
}

/* ----------- BUTTON GAME OPTIONS ---------- */
.btn-game-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: auto;
	width: 100%;
	font-size: 24px;
}
.btn-game-box-fs {
	position: absolute;
	justify-content: center;
	border : white solid 1px;
	padding: 1rem 0;
	margin: auto;
	bottom: -245px;
	transition: bottom 0.3s;
	background-color: rgba(0, 0, 0, 0.7);
}
.btn-game-box div{
	display: none;
}
.btn-game-box button{
	font-size: 24px;
	border: 1px solid rgb(220,220,220);
	border-radius: 1.15rem; 
	width: 100%;
	height: 2.3rem;
	margin: 0.5rem;
}
.btn-game-box button img{
	width: 40px;
}
.btn-game-box-fs div{
	display: block;
	background-color: rgba(0, 0, 0, 0.9);
}
.btn-game-box-fs-active {
	bottom: 0px;
}
.btn-game-menu {
	position: absolute;
	padding:11px 0 0 7px;
	font-size: 24px;
	font-weight: bolder;
	bottom: 244px;
	width: 50px;
	opacity: 60%;
	height: 50px;
	border: white solid 2px;
	border-radius: 50% 50% 0 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.btn-game-menu:hover {
	opacity: 100%;
}
.btn-game-menu-active {
	bottom:244px;
	opacity: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}
.btn-game-off {
	background-color: rgba(0,0,0,0.5);
	transition-duration: 0.2s;
	color: rgb(230,230,230);
}
.btn-game-on {
	background-color: rgba(0,150,0,0.7);
	transition-duration: 0.2s;
	color: rgb(255,255,255);
}
.btn-game-disable {
	background-color: rgba(0,0,0,0.1);
	color: rgb(150,150,150);
	opacity:0.7;
}
.btn-game-off:hover {
	background-color: rgba(100,100,100,0.6);
	color: rgb(255,255,255);
}
.btn-game-on:hover {
	background-color: rgba(150,0,0,0.7);
	transition-duration: 0.2s;
	color: rgb(255,255,255);
}
.game-lock {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	margin: auto;
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	overflow: hidden;
}
.btn-game-controler-box {
	display: none;
	margin-top: 1rem;
	flex-flow: column nowrap;
	justify-content: center;
}
.btn-game-controler-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.btn-game-controler-box button {
	font-size: 26px;
	border: 1px solid rgb(220,220,220);
	background-color: rgba(0,0,0,0.85);
	border-radius: 0.3rem; 
	width: 20%;
	height: 5rem;
	margin: 0.3rem;
	color: white;
}
.btn-game-controler-box button:active {
	background-color: rgba(255,255,255,0.1);
}
.btn-game-controller-ghost {
	opacity: 0;
}

/* ----------- AUTRES ---------- */

.activ-layer {
	bottom:0px !important;
}
.texte {
	position:relative;
	bottom: -50vh;
	padding: 1rem;
	background-color: rgba(0,0,0,0.9);
	color: rgb(255,255,255);
	overflow-y: scroll;
	height: 50vh;
	display: none;
}
#paragraphe {
	position:absolute;
	bottom:0px;
	width: 100%;
}
.activ-layer-menu {
	bottom: 50vh !important;
}

.discord-room {
	background-color: rgb(61, 66, 112);
	color: rgb(201,203,247);
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 5px;
	font-size: 18px;
}
.discord-room:hover {
	background-color: rgb(88, 101, 242);
	color: white;
}
.twitter {
	display: inline-block;
	background-color: rgb(29, 155, 240);
	font-weight: bold;
	margin: 0.5rem 0.1rem;
	padding: 0.5rem 2.5rem;
	border-radius: 1rem;
	font-size: 20px;
	color: white;
}
.youtube {
	display: inline-block;
	background-color: rgb(255, 0, 0);
	font-weight: bold;
	margin: 0.5rem 0.1rem;
	padding: 0.5rem 2.5rem;
	border-radius: 1rem;
	font-size: 20px;
	color: white;
}
.discord {
	display: inline-block;
	background-color: rgb(88, 101, 242);
	font-weight: bold;
	margin: 0.5rem 0.1rem;
	padding: 0.5rem 2.5rem;
	border-radius: 1rem;
	font-size: 20px;
	color: white;
}
@media (min-width: 386px){
	.btn-game-box-fs {
		position: absolute;
		justify-content: center;
		border : white solid 1px;
		margin: auto;
		bottom: -149px;
		transition: bottom 0.3s;
	}
	.btn-game-menu {
		position: absolute;
		padding:11px 0 0 7px;
		font-size: 24px;
		font-weight: bolder;
		bottom: 149px;
		width: 50px;
		height: 50px;
		border: white solid 2px;
		border-radius: 50% 50% 0 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.btn-game-box-fs-active {
		bottom: 0px;
	}
	.btn-game-menu-active {
		background-color: rgba(255, 255, 255, 0.3);
	}
	.btn-game-box button{
		font-size: 22px;
		border: 1px solid rgb(220,220,220);
		border-radius: 1rem; 
		width: 40%;
		height: 2.6rem;
		margin: 0.5rem;
	}
}

@media (min-width: 450px){
	.btn-game-box-fs {
		position: absolute;
		justify-content: center;
		border : white solid 1px;
		margin: auto;
		bottom: -140px;
		width: 100%;
		transition: bottom 0.3s;
	}
	.btn-game-menu {
		position: absolute;
		padding:11px 0 0 7px;
		font-size: 24px;
		font-weight: bolder;
		bottom: 140px;
		left:0;
		width: 50px;
		height: 50px;
		border: white solid 2px;
		border-radius: 50% 50% 0 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.btn-game-box-fs-active {
		bottom: 0px;
	}
	.btn-game-menu-active {
		background-color: rgba(255, 255, 255, 0.3);
	}
	.btn-game-box button{
		font-size: 22px;
		border: 1px solid rgb(220,220,220);
		border-radius: 1rem; 
		max-width: 22%;
		min-width: 175px;
		height: 2.3rem;
		margin: 0.5rem;
	}
	.btn-game-box button img{
		width: 33px;
	}
}
@media (min-width: 765px){
	.btn-game-box-fs {
		position: absolute;
		justify-content: center;
		border : white solid 1px;
		margin: auto;
		bottom: -87px;
		width: 100%;
		transition: bottom 0.3s;
	}
	.btn-game-box-fs-active {
		bottom: 0px;
	}
	.btn-game-menu {
		bottom: 87px;
		left:0;
	}
	.texte {
		position:relative;
		bottom: -50vh;
		padding: 1rem 5rem;
	}
}
@media (min-width: 992px){
	.texte {
		position:relative;
		bottom: -50vh;
		padding: 1rem 12rem;
	}
}
@media (min-width: 576px){
	h1 {
		font-size: 40px;
		font-family: Arial
	}
	h2 {
		font-size: 30px;
		font-family: monospace
	}
	h3 {
		margin: 0;
		padding: 10px;
		text-align: start;
		font-size: 28px;
		font-family: monospace
	}
	main {
		width: 100%;
	}
	.md-hide{
		display: none;
	}
	.md-show{
		display: block;
	} 
	.sm-hide{
		display: none;
	}
	.sm-show{
		display: block;
	}
	.tirroir{
		flex-flow: row nowrap;
		align-items: center;
	}
	.tirroir p{
		padding-left: 20px;
		color : white;
	}
}
@media (min-width: 768px){
	body {
		overflow-y: scroll !important;
	}
	h1 {
		font-size: 42px;
		font-family: Arial
	}
	h2 {
		font-size: 34px;
		font-family: monospace
	}
	h3 {
		text-align: center;
		font-size: 30px;
		font-family: monospace
	}
	main {
		width: 100%;
		padding: 0rem 2rem 0rem 2rem;
	}
	nav {
		position: sticky;
		padding-top: 0;
		height: 40px;
		background-color: rgb(16,42,42);
		transform: translateX(0);
	}
	nav>div {
		display: none;
	}
	nav>ul {
		list-style: none;
		flex-flow: row;
	}
	.menu {
		/*position: fixed;
		z-index: 18;
		top: 10px;
		right: 2%;*/
		display: none;
	}
	.md-hide{
		display: block;
	}
	.md-show{
		display: none;
	} 
	.sm-hide{
		display: block;
	}
	.sm-show{
		display: none;
	}
	.background-article-game {
		width: 715px;
		margin: auto;
	}
}
@media (min-width: 992px) {
	main {
		width: 900px;
		margin: auto;
	}
	h1 {
		margin: 0;
		padding: 30px;
		font-size: 60px;
		font-family: Arial;
	}
	h2 {
		margin: 30px;
		font-size: 42px;
		font-family: monospace;
	}
	h3 {
		margin: 30px;
		text-align: center;
		font-size: 30px;
		font-family: monospace;
	}
	.md-hide{
		display: block;
	}
	.md-show{
		display: none;
	} 
	.sm-hide{
		display: block;
	}
	.sm-show{
		display: none;
	}
	.background-article-game {
		width: 836px;
	}
	.desc-game {
		display: block;
		padding: 1rem 3rem;
	}
}